doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    link(rel="icon" type="image/svg+xml" href="/img/favicon.svg")
    link(href='https://fonts.googleapis.com/css?family=Oswald:300,400,700|Noto+Sans:400,700,400italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css')
    block css
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    block js

      
        
  body
    block welcome
    block content
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    block scripts
    if ENV_DEVELOPMENT
      -console.log('sup from jade')
    
    
