extends layout
block css
  link(href='https://fonts.googleapis.com/css?family=Oswald:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css')
  link(rel='stylesheet' href='/css/user.css')
  link(rel='stylesheet' href='')
  
block js
block content
  .container.buttons(style='border: 2px dotted blue;')
    -var menuitems = ['Wagers to Accept', 'Initiated Wagers', 'Resolved Wagers']
    -var menuitemshover = ['click to accept from a list of wagers', 'click to propose a new wager with a friend', 'click to view completed wagers']
    -var menuroutes = ['acceptable', 'initiated', 'resolved']
      for item, index in menuitems
        div(class='col-sm-#{12/menuitems.length}' style='padding-top: 1vh; border: 2px solid red; height: 5vh; text-align:center;') 
          a(style='border: 2px solid black;' href='/user/acct/#{menuroutes[index]}' class='#{menuroutes[index]}') #{item}
  .container.wager(style='border: 2px dotted red; height: 20vh;' )
    .row
      .col-sm-6(style='border: 2px solid black;')
        div(style='text-align: center; border= 2px solid blue; height: 10%;') 
          a(href='/user/wager/initiate') Initiate a Wager
      .col-sm-6(style='border: 2px solid black;')
        div(style='text-align: center; border= 2px solid blue; height: 10%;') 
          a(href='/user/wager/accept') Accept a Wager
  .container.prof(style='border: 2px dotted red')  
    .col-sm-6(style='border: 2px solid black; height: 80vh; ')
      div() Profile
    .col-sm-6(style='border: 2px solid black; height: 80vh; ')
      div() Chat
    
  - if(newwagerid)
    div.newwagersuccess New wager completed!
  
    
block scripts
  - if(newwagerid)
    script(src='/js/jq/newwagersuccess.js')
  script(src='/js/jq/sendform.js')
